<footer class="footer mt40 pb40 pt40 bg-success">

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <p>
          <a href="/" class="w100">
            <img class="w100" src="img/logo.png" alt="Медицинский центр ЮНИОН">
          </a>
        </p>
        <div>
          <h3 class="no_wrap rt18">
            <i class="glyphicon glyphicon-phone"></i>
            <a href="tel:{{ CONFIG.phone_url }}" class="text-danger">
              <span>{{ CONFIG.phone }}</span>
            </a>
          </h3>
          <h4 class="no_wrap rt18">
            <i class="glyphicon glyphicon-envelope"></i>
            <a href="mailto:{{ CONFIG.email }}?Subject={{ CONFIG.email_subject | escape }}" target="_top" class="text-danger">
              <span>{{ CONFIG.email }}</span>
            </a>
          </h4>
        </div>
      </div>
      <div class="col-md-2 col-sm-12">
        <p class="lead rt16">
          Часы работы: <br>
          с 9:00 до 20:00 пн.-пт.
        </p>
      </div>
      <div class="col-md-7 col-sm-12">
        <div class="footer-nav">
          <ul class="list-inline">
            {% for _route in routes %}
              <li class="{% if _route.id == route.id %}active{% endif %}">
                <a class="{{ _route.type }} rt14" href="{{ _route.url }}">{{ _route.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

</footer>