<div class="header">

  <div class="container">

    <div class="row">

      <div class="col-md-3 col-sm-12 mt20 mb20">
        <a class="logo ib w100 mt10" href="/">
          <img src="/img/logo.png" class="w100" alt="">
        </a>
      </div>

      <div class="col-md-3 col-md-offset-1 col-sm-12 mt20 mb20">
        <div class="phone">

          <h5 class="rt18">
            <span>
              <i class="glyphicon glyphicon-phone"></i>
              <a href="tel:{{ CONFIG.phone }}" class="text-danger">
                <span>{{ CONFIG.phone }}</span>
              </a>
            </span>
          </h5>

          <h6 class="rt14">
            Телефон в г. Москве
          </h6>
        </div>

        <div class="email">

          <h5 class="rt18">
            <span class="no_wrap">
              <i class="glyphicon glyphicon-envelope"></i>
              <a href="mailto:{{ CONFIG.email }}?Subject={{ CONFIG.email_subject | escape }}" target="_top" class="text-danger">
                <span>{{ CONFIG.email }}</span>
              </a>
            </span>
          </h5>
        </div>

      </div>

      <div class="col-md-2 col-sm-6 mt20 mb20">
        <p class="lead rt16 mt5">
          Часы работы: <br>
          с 9:00 до 20:00 <br>
          пн.-пт.
        </p>
      </div>

      <div class="col-md-2 col-sm-6 mt20 mb20">
        <a href="/zakaz" class="btn btn-primary btn-lg rt18 mt10">
          <i class="glyphicon glyphicon-shopping-cart" style="margin-right: 8px;"></i>ЗАКАЗАТЬ
        </a>
      </div>

    </div>

  </div>

</div>